log4j.logger.ros.rose20_common=DEBUG
log4j.logger.ros.rose20_common|ODOM=DEBUG

log4j.logger.ros.rose_gui_application=DEBUG
log4j.logger.ros.gui_item_collector=DEBUG
log4j.logger.ros.rose_ui_item_selector=DEBUG
log4j.logger.ros.rose_ui_overview_camera=DEBUG
log4j.logger.ros.operations.actionlib=INFO
log4j.logger.ros.operations.position_determinator=DEBUG
log4j.logger.ros.operations=DEBUG
log4j.logger.ros.position_determinator=DEBUG
log4j.logger.ros.reachability_manager=DEBUG
log4j.logger.ros.reachability_manager=DEBUG
log4j.logger.ros.rose20_gazebo_plugins=INFO
log4j.logger.ros.rose20_platform.actionlib=INFO
log4j.logger.ros.rose20_platform=INFO
log4j.logger.ros.rose_operation_manager.actionlib=INFO
log4j.logger.ros.rose_operation_manager=DEBUG
log4j.logger.ros.script_selector=DEBUG

log4j.logger.ros.rose20_platform.tf_neck=INFO
log4j.logger.ros.rose20_platform.tf_neck|TF=INFO
log4j.logger.ros.rose20_common.tf_neck=INFO
log4j.logger.ros.rose20_common.tf_neck|TF=INFO
log4j.logger.ros.rose20_common.arm_tf|TF=INFO

log4j.logger.ros.rose20_platform.lift_controller=INFO
log4j.logger.ros.rose20_platform.lift_controller|HC=INFO
log4j.logger.ros.rose20_platform.tf_lift=INFO
log4j.logger.ros.rose20_platform.tf_lift|TF=INFO
log4j.logger.ros.rose20_common.tf_lift=INFO
log4j.logger.ros.rose20_common.tf_lift|TF=INFO

log4j.logger.ros.rose20_platform.tf_platform=INFO
log4j.logger.ros.rose20_platform.tf_platform|ODOM=INFO
log4j.logger.ros.rose20_platform.tf_platform|TF=INFO
log4j.logger.ros.rose20_common.tf_platform=INFO
log4j.logger.ros.rose20_common.tf_platform|TF=INFO
log4j.logger.ros.rose20_common.tf_platform|ODOM=INFO

log4j.logger.ros.rose20_common.platform_tf=INFO
log4j.logger.ros.rose20_common.platform_tf|TF=INFO
log4j.logger.ros.rose20_common.platform_tf|ODOM=INFO
log4j.logger.ros.rose20_platform.neck_tf=INFO
log4j.logger.ros.rose20_platform.neck_tf|TF=INFO
log4j.logger.ros.rose20_common.neck_tf=INFO
log4j.logger.ros.rose20_common.neck_tf|TF=INFO
log4j.logger.ros.rose20_platform.lift_tf=INFO
log4j.logger.ros.rose20_platform.lift_tf|TF=INFO
log4j.logger.ros.rose20_common.lift_tf=INFO
log4j.logger.ros.rose20_common.lift_tf|TF=INFO
log4j.logger.ros.rose20_common.drive_controller=INFO
log4j.logger.ros.rose20_common.drive_controller|TF=INFO
log4j.logger.ros.rose20_common.drive_controller|WU=INFO
log4j.logger.ros.rose20_common.wheel_controller=INFO
log4j.logger.ros.rose20_common.wheel_controller|TF=INFO
log4j.logger.ros.rose20_common.wheel_controller|WU=INFO
log4j.logger.ros.rose20_platform.platform_tf=INFO
log4j.logger.ros.rose20_platform.platform_tf|ODOM=INFO
log4j.logger.ros.rose20_platform.platform_tf|TF=INFO
log4j.logger.ros.rose20_common.platform_tf=INFO
log4j.logger.ros.rose20_common.platform_tf|TF=INFO
log4j.logger.ros.rose20_common.platform_tf|ODOM=INFO
log4j.logger.ros.rose20_common.place|TF=INFO
log4j.logger.ros.rose20_common.laser_tf|TF=INFO
log4j.logger.ros.rose20_common.grab|TF=INFO

log4j.logger.ros.arm_controller=DEBUG
log4j.logger.ros.arm_controller.arm_controller|SMC=INFO
log4j.logger.ros.arm_controller.actionlib=INFO

log4j.logger.ros.arm_visual_servoing.arm_visual_servoing=DEBUG

log4j.logger.ros.point_extractor=DEBUG

log4j.logger.ros.rose20_platform.drive_controller=INFO
log4j.logger.ros.rose20_platform.drive_controller|SMC=WARN
log4j.logger.ros.rose20_platform.drive_controller|CC|wheel_controller=INFO
log4j.logger.ros.rose20_platform.drive_controller|ODOM=INFO

log4j.logger.ros.rose21_platform.drive_controller=INFO
log4j.logger.ros.rose21_platform.drive_controller|SMC=WARN
log4j.logger.ros.rose21_platform.drive_controller|CC|wheel_controller=INFO
log4j.logger.ros.rose21_platform.drive_controller|ODOM=INFO

log4j.logger.ros.rose20_platform.wheel_controller=INFO
log4j.logger.ros.rose20_platform.wheel_controller|SMC=WARN
log4j.logger.ros.rose20_platform.wheel_controller|HC=INFO
log4j.logger.ros.rose20_platform.wheel_controller|ODOM=INFO

log4j.logger.ros.rose21_platform.wheel_controller=INFO
log4j.logger.ros.rose21_platform.wheel_controller|SMC=WARN
log4j.logger.ros.rose21_platform.wheel_controller|HC=INFO
log4j.logger.ros.rose21_platform.wheel_controller|ODOM=INFO

log4j.logger.ros.rose20_platform.power_controller=INFO
log4j.logger.ros.rose20_platform.power_controller|SMC=INFO
log4j.logger.ros.rose20_platform.power_controller|HC=INFO
log4j.logger.ros.rose20_platform.power_controller|ODOM=INFO

log4j.logger.ros.rose21_platform.power_controller=INFO
log4j.logger.ros.rose21_platform.power_controller|SMC=INFO
log4j.logger.ros.rose21_platform.power_controller|HC=INFO
log4j.logger.ros.rose21_platform.power_controller|ODOM=INFO

log4j.logger.ros.rose20_platform.lift_controller=INFO
log4j.logger.ros.rose20_platform.lift_controller|SMC=INFO
log4j.logger.ros.rose20_platform.lift_controller|HC=INFO
log4j.logger.ros.rose20_platform.lift_controller|ODOM=INFO

log4j.logger.ros.rose21_platform.lift_controller=INFO
log4j.logger.ros.rose21_platform.lift_controller|SMC=INFO
log4j.logger.ros.rose21_platform.lift_controller|HC=INFO
log4j.logger.ros.rose21_platform.lift_controller|ODOM=INFO

log4j.logger.ros.rose20_gazebo_plugins.SimWheelController=INFO
log4j.logger.ros.rose20_gazebo_plugins.SimWheelController|SMC=WARN
log4j.logger.ros.rose20_gazebo_plugins.SimWheelController|HC=INFO
log4j.logger.ros.rose20_gazebo_plugins.SimWheelController|ODOM=INFO
log4j.logger.ros.rose20_common.SimWheelController|TF=INFO
log4j.logger.ros.rose20_common.SimWheelController|PID=INFO

log4j.logger.ros.move_base_smc.actionlib=INFO
log4j.logger.ros.move_base_smc.move_base_smc=INFO
log4j.logger.ros.move_base_smc.move_base_smc|SMC=INFO
log4j.logger.ros.move_base_smc.move_base_smc|CC|drive_controller=INFO
log4j.logger.ros.move_base_smc.move_base_smc|CC|move_base=INFO
log4j.logger.ros.move_base_smc.move_base_smc|CC|relative_positioning=INFO

log4j.logger.ros.relative_positioning.relative_positioning=INFO
log4j.logger.ros.relative_positioning.relative_positioning|SMC=INFO


log4j.logger.ros.footprint_collision_checker=INFO
log4j.logger.ros.move_base=INFO

log4j.logger.ros.map_server=DEBUG

log4j.logger.ros.base_local_planner=DEBUG

log4j.logger.ros.arc_local_planner=INFO
log4j.logger.ros.arc_local_planner.move_base=INFO
log4j.logger.ros.arc_local_planner.actionlib=INFO

log4j.logger.ros.costmap_2d=INFO
log4j.logger.ros.costmap_2d_plugins=INFO
log4j.logger.ros.costmap_2d_plugins.move_base=INFO

log4j.logger.ros.hardware_comm=INFO
log4j.logger.ros.hardware_comm.wheel_controller|SERIAL=INFO
log4j.logger.ros.hardware_comm.power_controller|SERIAL=INFO
log4j.logger.ros.hardware_comm.lift_controller|SERIAL=INFO

log4j.logger.ros.amcl=INFO
log4j.logger.ros.amcl.message_filter=INFO

log4j.logger.ros.datamanager=ROSCPP_LOG_DEBUG

log4j.logger.ros.rose_ui_map_display.map_display=DEBUG
